<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Lojista</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Bem-vindo ao Lojista App</h1>
    <nav>
        <ul>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'listar_produtos' %}">Produtos</a></li>
            <li><a href="{% url 'reservas' %}">Reservas</a></li>
            <li><a href="{% url 'perfil' %}">Perfil</a></li>
        </ul>
    </nav>
</body>
</html>
